<!DOCTYPE html>
<html>
  <head>
    <title>SalmonRun</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'events_vue' %>
  </head>

  <body data-controller=<%= controller.class.name.gsub('::', '_') %> data-action=<%= controller.action_name%> >
    <%= yield %>
  </body>
</html>
